# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies


# production
packages/jaeger-ui/build/

# reports
coverage
.nyc_output

# misc
.DS_Store
npm-debug.log
.vscode
yarn-error.log
